/*.bak
/*.lo
/*.m4
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/README
/TAGS
/_libs
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/copy.patch
/depcomp
/doc/doxygen
/duplo-report.txt
/err.txt
/gnome-doc-utils.make
/install-sh
/internal.patch
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/plugins/cvs/py-compile
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/gnome-commander.pot
/po/stamp-it
/so_locations
/src/gnome-cmd-advrename-lexer.cc
/stamp-h1
/tags
/test-driver
/tests/check_gnome-cmd-search-dialog.cc
/tests/check_gnome-commander.cc
/tools/translators.sh
/translators.sh
/ylwrap
