/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.geanyprj
/.gitignore
/.libs
/ABOUT-NLS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/README
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.rpath
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/depcomp
/doc/doxygen/
/doc/*/*.docbook
/doc/*/*.mo
/doc/*/*.stamp
/doc/*/*.xml
/duplo-report.txt
!/doc/C/**
/err.txt
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/m4/*
/missing
/plugins/cvs/
/data/org.gnome.gnome-commander.enums.xml
/data/org.gnome.gnome-commander.gschema.valid
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/gnome-commander.pot
/po/stamp-it
/py-compile
/so_locations
/src/gnome-cmd-advrename-lexer.cc
/stamp-h1
/tags
/test-driver
/tests/*.trs
/tools/
/translators.sh
/ylwrap
tests/gviewer/
