sudo:     required
dist:     trusty
language: cpp

services:
  - docker

script:
- docker build .

branches:
  only:
    - master
    - gcmd-1-6
    - gcmd-1-4

notifications:
  recipients:
    - u.scholz83@gmx.de
  email:
    on_success: change
    on_failure: always

os:
  - linux
