/*
 * SPDX-FileCopyrightText: 2025 Andrey Kutejko <andy128k@gmail.com>
 * SPDX-FileCopyrightText: 2026 Wladimir Palant https://palant.info/
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* General */

.dialog > grid, .dialog > box {
    margin: 12px;
}

.dialog > grid {
    border-spacing: 12px 6px;
}

.dialog > box.vertical {
    border-spacing: 6px;
}

.dialog > box.horizontal {
    border-spacing: 12px;
}

frame.flat {
    border: none;
}

frame > label {
    font-weight: bold;
}

/* Main window */

listview.gcmd-toolbar {
    background-color: transparent; /* reset background to make GtkListView to look like a GtkBox */
}

.main-toolbar {
    border-spacing: 6px;
}

.main-box > separator {
    margin: 0 3px;
}

.buttonbar > separator {
    margin: 3px 0;
}

.command-line, .command-line-output {
    margin: 1px 2px;
    border-spacing: 4px;
}

@keyframes bell {
  50% {
    background-color: rgba(255, 85, 0, 0.7);
  }
}

.command-line-entry-field.bell entry {
    animation: bell 0.5s ease-out;
}

.quick-search {
    margin: 0 6px;
    border-spacing: 6px;
}

.quick-search.bell entry {
    animation: bell 0.5s ease-out;
}

/* Search dialog */

.search-profile-grid {
    border-spacing: 12px 6px;
}

.search-statusbar {
    border-spacing: 2px;
}

/* Keyboard Shortcuts */

.keyboard-shortcuts-section-header {
    font-size: 120%;
    font-weight: bold;
    padding: .5ex 0;
}

.keyboard-shortcuts-shortcut {
    opacity: 0.6;
}

.keyboard-shortcuts-modified {
    font-weight: bold;
}

.keyboard-shortcuts-key-capture-instructions {
    padding: 5ex 1em;
}
