/*
 * SPDX-FileCopyrightText: 2025 Andrey Kutejko <andy128k@gmail.com>
 * SPDX-FileCopyrightText: 2026 Wladimir Palant https://palant.info/
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* General */

.dialog > grid, .dialog > box {
    margin: 12px;
}

.dialog > grid {
    border-spacing: 12px 6px;
}

.dialog > box.vertical {
    border-spacing: 6px;
}

.dialog > box.horizontal {
    border-spacing: 12px;
}

box.spacing {
    border-spacing: 6px;
}

box.offset {
    margin: 0 12px;
}

frame.flat {
    border: none;
}

frame > label,
label.important {
    font-weight: bold;
}

/* Main window */

listview.gcmd-toolbar {
    background-color: transparent; /* reset background to make GtkListView to look like a GtkBox */
}

.main-toolbar {
    border-spacing: 6px;
}

.main-box > separator {
    margin: 0 3px;
}

.buttonbar > separator {
    margin: 3px 0;
}

.command-line, .command-line-output {
    margin: 1px 2px;
}

.command-line {
    border-spacing: 4px;
}

.command-exited-message, .command-exited-with-error-message {
    padding: 2px;
}

.command-exited-message {
    color: #fff;
    background-color: #036;
    border-top: 2px solid #08f;
}

.command-exited-with-error-message {
    color: #faa;
    background-color: #600;
    border-top: 2px solid #c00;
}

@keyframes bell {
  50% {
    background-color: rgba(255, 85, 0, 0.7);
  }
}

.command-line-entry-field.bell entry {
    animation: bell 0.5s ease-out;
}

.quick-search {
    margin: 0 6px;
    border-spacing: 6px;
}

.quick-search.bell entry {
    animation: bell 0.5s ease-out;
}

/* File list */

.gnome-cmd-file-list cell {
  padding: 0;
}

.gnome-cmd-file-list .cell {
  padding: 4px 6px;
}

.gnome-cmd-file-list:not(.themed) .sel {
  font-weight: bold;
}
.gnome-cmd-file-list:not(.themed) .sel:not(:focus) {
  background-color: rgba(128, 128, 128, 0.3);
}

.gnome-cmd-file-list-state {
  border: 1px solid #000;
  border-radius: 0.5em;
  color: #000;
  margin: 2em;
  padding: 0.5em;
}
.gnome-cmd-file-list-state.loading {
  background-color: #996;
}
.gnome-cmd-file-list-state.error {
  background-color: #966;
}

/*
  Note: !important is not supported, so we make sure selectors have the same specificity, making
  them apply in order.
*/
.gnome-cmd-file-list.themed,
.gnome-cmd-file-list.themed listview {
  background-color: @color-norm-bg;
}
.gnome-cmd-file-list.themed row {
  background-color: unset;
  color: @color-norm-fg;
}
.gnome-cmd-file-list.themed row:nth-child(2n) {
  background-color: @color-alt-bg;
  color: @color-alt-fg;
}
.gnome-cmd-file-list.themed row.sel {
  background-color: @color-sel-bg;
}
.gnome-cmd-file-selector.active .gnome-cmd-file-list.themed row:selected {
  background-color: @color-curs-bg;
  color: @color-curs-fg;
}
.gnome-cmd-file-list.themed row.sel,
.gnome-cmd-file-selector.active .gnome-cmd-file-list.themed row.sel {
  color: @color-sel-fg;
}

@define-color ls-color-fg-black    #000;
@define-color ls-color-fg-red      #f00;
@define-color ls-color-fg-green    #0f0;
@define-color ls-color-fg-yellow   #ff0;
@define-color ls-color-fg-blue     #00f;
@define-color ls-color-fg-magenta  #f0f;
@define-color ls-color-fg-cyan     #0ff;
@define-color ls-color-fg-white    #fff;

@define-color ls-color-bg-black    #000;
@define-color ls-color-bg-red      #f00;
@define-color ls-color-bg-green    #0f0;
@define-color ls-color-bg-yellow   #ff0;
@define-color ls-color-bg-blue     #00f;
@define-color ls-color-bg-magenta  #f0f;
@define-color ls-color-bg-cyan     #0ff;
@define-color ls-color-bg-white    #fff;

.gnome-cmd-file-list .fg-black   { color: @ls-color-fg-black; }
.gnome-cmd-file-list .fg-red     { color: @ls-color-fg-red; }
.gnome-cmd-file-list .fg-green   { color: @ls-color-fg-green; }
.gnome-cmd-file-list .fg-yellow  { color: @ls-color-fg-yellow; }
.gnome-cmd-file-list .fg-blue    { color: @ls-color-fg-blue; }
.gnome-cmd-file-list .fg-magenta { color: @ls-color-fg-magenta; }
.gnome-cmd-file-list .fg-cyan    { color: @ls-color-fg-cyan; }
.gnome-cmd-file-list .fg-white   { color: @ls-color-fg-white; }

.gnome-cmd-file-list .bg-black   { background-color: @ls-color-bg-black; }
.gnome-cmd-file-list .bg-red     { background-color: @ls-color-bg-red; }
.gnome-cmd-file-list .bg-green   { background-color: @ls-color-bg-green; }
.gnome-cmd-file-list .bg-yellow  { background-color: @ls-color-bg-yellow; }
.gnome-cmd-file-list .bg-blue    { background-color: @ls-color-bg-blue; }
.gnome-cmd-file-list .bg-magenta { background-color: @ls-color-bg-magenta; }
.gnome-cmd-file-list .bg-cyan    { background-color: @ls-color-bg-cyan; }
.gnome-cmd-file-list .bg-white   { background-color: @ls-color-bg-white; }

/* Search dialog */

.search-profile-grid {
    border-spacing: 12px 6px;
}

.search-statusbar {
    border-spacing: 2px;
}

/* Keyboard Shortcuts */

.keyboard-shortcuts-section-header {
    font-size: 120%;
    font-weight: bold;
    padding: .5ex 0;
}

.keyboard-shortcuts-shortcut {
    opacity: 0.6;
}

.keyboard-shortcuts-modified > label {
    font-weight: bold;
}

.keyboard-shortcuts-key-capture-instructions {
    padding: 5ex 1em;
}

/* Plugins */

.plugin-row {
    padding: 6px;
}

.plugin-row .title {
    font-weight: bold;
}
